@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
}

section.left {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: url('../images/bg-pattern-desktop.svg');
}

section.left > div {
  width: 60%;
}

section.left #logo {
  margin: 60px 0;
}

section.left h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 10px;
  color: hsl(0, 6%, 24%);
}

section.left h1 .title {
  font-size: inherit;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

section.left p {
  text-align: left;
  line-height: 1.5;
  color: hsl(0, 36%, 70%);
  font-size: 1em;
  margin-bottom: 40px;
}
.form-input {
  display: inline;
  position: relative;
}

.form-input img {
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: 70px;
}

section.left input {
  width: 47%;
  font-size: 0.88em;
  font-family: inherit;
  color: hsl(0, 36%, 70%);
  padding: 14px 20px;
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 40px;
}

section.left input:focus {
  outline: none;
  border: 1px solid hsl(0, 36%, 70%);
}

section.left input::placeholder {
  color: hsl(0, 36%, 70%);
}

section.left button {
  position: relative;
  border: none;
  width: 80px;
  height: 50px;
  border-radius: 40px;
  margin-left: -64px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

section.left form p {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 12px;
  color: hsl(0, 93%, 68%);
}

.error {
  display: none;
}

section.right {
  width: 35%;
  background: url('../images/hero-desktop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  position: sticky;
  padding: 20px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
